nav{
    background-color: crimson;
    color: white;
    width: 100vw;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
}
body{
    height: 150vh;
    margin:0;
}